body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: ghostwhite;
    color: #1f1f1f;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

a {
    color: #146fbe;
}

a:visited {
    color: #8053ad;
}

header[role=banner] {
    text-align: center;
    padding: 3rem 1rem;
}

header[role=banner] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

header[role=banner] h1 {
    margin-bottom: 0;
}

main > section {
    padding: 1rem;
}

.container {
    max-width: 37.5rem;
    margin: 0 auto;
}

.post h1 {
    font-size: 2.5rem;
}

.summary p {
    margin-bottom: 0;
}

.has-children {
    list-style: none;
}

.projects ul ul {
    list-style-type: disc;
    padding: 0;
}

.projects ul ul > li:not(:last-child) h3 {
    margin-bottom: 0;
}

@media (min-width: 21rem) {
    body {
        font-size: 18px;
    }
}